.personal-story {
    position: relative;
    overflow: hidden;
    &__circle {
        position: absolute;
        &_1 {
         width: 370px;
         height: 370px;
         border-radius: 370px;
         border: 70px solid var(--color-green);
         left: 50%;
         margin-left: 245px;
         margin-top: -133px;
        }
        &_2 {
         @mixin io circle/5, svg;
             width: 175px;
             height: 175px;
             background-size: 175px 175px;
             top: 50%;
             right: 50%;
             margin-right: 614px;
             margin-top: 230px;
        }
        &_3 {
             width: 449px;
             height: 449px;
             border-radius: 449px;
             border: 70px solid var(--color-ligth);
             left: 50%;
             margin-left: -225px;
             margin-top: 165px;
             z-index: -1;
        }
        &_4 {
             width: 1800px;
             height: 1800px;
             border-radius: 1800px;
             right: calc(50% - 900px);
             background-color: var(--color-green);
             top: 50%;
             margin-top: -70px;
             z-index: -1;
        }
    }
    &__head {
         padding-top: 20px;
         background-color: var(--color-ligth);
    }
    .kit-container {
        position: relative;
    }
    .button-back {
        /*top: -50px;*/
        /*left: 0;*/
    }
    &__title {
         display: inline-block;
         max-width: 700px;
         margin-bottom: 20px;
         padding: 10px 0;
         padding-top: 15px;
         text-align: left;
    }
    &__city {
         text-align: left;
        span {
            display: inline-block;
            position: relative;
            max-width: 210px;
            /*margin-top: calc(50% - 8px);*/
            margin-bottom: 30px;
            padding-left: 20px;
            text-align: left;
            font-size: 16px;
            color: var(--color-font);
            &:before {
             @mixin io icon/maps-and-flags, svg;
                 content: '';
                 position: absolute;
                 top: -4px;
                 left: 0;
             }
        }
    }
    &__info {
         display: flex;
         justify-content: space-between;
         margin-bottom: 60px;
        flex-direction: column;
    }
    &__data {
        margin-bottom: 20px;
    }
    &__pic {
         width: 280px;
         height: 280px;
         overflow: hidden;
         background-position: 50% 50%;
         background-repeat: no-repeat;
         background-size: cover;
         margin-bottom: 20px;
    }
    &__social-desc{
         display: inline-block;
         font-size: 14px;
         /*font-family: var(--font);*/
         font-weight: normal;
         line-height: 30px;
         color: var(--color-font);
         padding-left: 11px;
     }
    &__social {
         display: inline-block;
         width: auto;
         min-height: 30px;
         background-color: #ffffff;
         border-radius: 15px;
         margin-bottom: 10px;
         padding: 3px 11px;
        span {
            display: inline-block;
            font-size: 14px;
            /*font-family: var(--font);*/
            font-weight: normal;
            line-height: 24px;
            color: var(--color-font);
        }
        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                vertical-align: middle;
                margin-left: 15px;
                a {
                    display: block;
                    padding: 5px 0;
                    transition: all .2s easeInOutCubic;
                    &:hover {
                         opacity: .8;
                    }
                    &.vk {
                     @mixin io icon/social/vk, svg;
                    }
                    &.ok {
                     @mixin io icon/social/ok, svg;
                    }
                    &.fb {
                     @mixin io icon/social/fb, svg;
                    }
                    &.in {
                     @mixin i icon/social/instagram;
                    }
                    &.yt {
                     @mixin i icon/social/youtube;
                    }
                }
            }
        }
    }
    &__video {
         width: 280px;
         .video-link {
             box-shadow: none;
         }
     }
    &__body {
         padding-top: 60px;
         hyphens: auto;
        h3 {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.5;
            color: var(--color-font);
            margin-bottom: 20px;
        }
    }
    &__content {
         font-size: 14px;
         font-weight: normal;
         line-height: 1.5;
         color: #000000;
         padding-bottom:20px; /*отступ снизу*/
         width:100%; /*указываем общую ширину блока с колонками*/
         text-align:left;
         column-count: 1; /*количество колонок*/
         column-gap: 100px; /*отступ между колонками*/
        overflow: hidden;
         text-overflow: ellipsis;
        height: 230px;
        position: relative;
        .transpar{
            content:'';
            width:100%;
            height:210px;
            position:absolute;
            left:0;
            top:0;
            background:linear-gradient(to bottom, transparent 100px, white);
        }
        /*&:before {
             content:'';
             width:100%;
             height:210px;
             position:absolute;
             left:0;
             top:0;
             background:linear-gradient(to bottom, transparent 100px, white);
         }*/
        li {
            list-style: disc;
            margin-left: 17px;
        }
    }
    &__arrow-more{
        position: relative;
        color: #3e20b9;
        text-align: center;
        font-size: 14px;
        padding-bottom: 40px;
        padding-top: 30px;
        cursor: pointer;
        &:before {
             content: '';
             display: block;
             position: absolute;
             cursor: pointer;
             top: 0px;
            left: 46%;
             border: 4px solid #3e20b9;
             width: 22px;
             height: 22px;
            border-top: 0;
            border-left: 0;
             transform: translateY(-50%) rotate(45deg);
         }
     }
    &__share {
         display: inline-block;
         width: auto;
         min-height: 60px;

         margin: 0 auto 60px;
         padding: 0 20px 0 34px;
        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.5;
            padding-top: 15px;
            padding-bottom: 15px;
            color: var(--color-font);
            display: inline-block;
            vertical-align: middle;
            max-width: 730px;
        }
        ul {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            li {
                width: 38px;
                height: 38px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 14px;
                background-color: var(--color-red);
                border-radius: 38px;
                &:last-child {
                     margin-right: 15px;
                 }
                a {
                    display: block;
                    padding: 5px 0;
                    margin: auto;
                    margin-top: 6px;
                    transition: all .2s easeInOutCubic;
                    &:hover {
                         opacity: .8;
                     }
                    &.vk {
                     @mixin io icon/social/vk, svg;
                         background-size: 27px 15px;
                         width: 27px;
                         height: 15px;
                         margin-top: 12px;
                     }
                    &.ok {
                     @mixin io icon/social/ok-pink, svg;
                         margin-left: 12px;
                     }
                    &.fb {
                     @mixin io icon/social/fb, svg;
                         background-size: 12px 23px;
                         width: 12px;
                         height: 23px;
                     }
                }
            }
        }
        &-block {
             text-align: center;
         }
    }
    &__slider {
         position: relative;
         background-color: #50e3c2;
        .slider {
            &__inner {
                 padding-top: 40px;
                 padding-bottom: 60px;
                 position: relative;
                 z-index: 50;
            }
            &__head {
                 margin-bottom: 21px;
            }
            &__body {
                .main-history__city {
                    color: var(--color-font);
                }
                .swiper {
                    &-prev {
                    &-default {
                         top: 50px;
                         right: auto;
                         left: 0px;
                         margin-top: 0;
                     }
                    &-circle {
                         top: 25px;
                         margin-top: 0;
                     }
                    }
                    &-next {
                    &-default {
                         top: 50px;
                         left: auto;
                         right: 0px;
                         margin-top: 0;
                     }
                    &-circle {
                         top: 25px;
                         margin-top: 0;
                     }
                    }
                }
            }
        }
    }
}