.stories {
    position: relative;
    padding-top: 20px;
    overflow: hidden;
    &__circle {
        position: absolute;
        &_1 {
             width: 1780px;
             height: 1780px;
             border-radius: 1780px;
             top: -50%;
             right: 50%;
             background-color: var(--color-green);
             z-index: -1;
             margin-top: 80px;
             margin-right: -295px;
        }
        &_2 {
            @mixin io circle/5, svg;
             left: 50%;
             margin-left: 561px;
             margin-top: 10px;
             z-index: -1;
        }
        &_3 {
             width: 573px;
             height: 573px;
             border-radius: 573px;
             border: solid 100px var(--color-ligth);
             margin-left: -495px;
             margin-top: 1075px;
             z-index: -1;
        }
        &_4 {
             width: 384px;
             height: 384px;
             border-radius: 324px;
             border: 60px solid var(--color-red);
             left: 50%;
             margin-left: 415px;
             margin-top: 1056px;
             z-index: -1;

        }
    }
    &__title {
         margin-bottom: 40px;
         /*padding-left: 150px;
         padding-right: 150px;*/
        padding-top: 15px;
    }
    &__head {
         position: relative;
         margin-bottom: 40px;
    }
    &__body {
         position: relative;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         margin-bottom: 30px;
    }
    &__item {
         display: inline-block;
         text-align: center;
         margin-left: 18px;
         margin-right: 18px;
         margin-bottom: 20px;
         /*padding-bottom: 17px;*/
         transition: all .6s;
         background-color: transparent;
         width: 280px;
         border: 1px solid transparent;
    }
    /*&__item:hover {
         border: solid 1px #3e20b9;
         background-color: var(--color-ligth);
    }
    &__item:hover {
        .stories__pic {
            border-radius: 0px;
        }
    }*/
    &__pic {
         display: block;
         width: 202px;
         height: 202px;
         overflow: hidden;
         border-radius: 202px;
         background-position: 50% 50%;
         background-repeat: no-repeat;
         background-size: cover;
         margin-left: auto;
         margin-right: auto;
         transition: all .6s;
    }
    &__name {
         display: block;
         margin-top: 10px;
         color: var(--color-font);
         font-size: 20px;
         line-height: 28px;
    }
    &__city {
         display: block;
         font-family: var(--font-base);
         font-size: 14px;
         font-weight: 400;
         color: var(--color-font);
         margin-top: 7px;
    }
}