/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/node_modules
/storage
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env
.env.php
.DS_Store
Thumbs.db
/bower_components
/resources/bower_components
.tmp
.sass-cache
_ide_helper.php
.phpstorm.meta.php
access.log
error.log
/storage/debugbar
/public/source
/public/thumbs
/public/webstat
.idea