.poster-notice {
    border-radius: 6px;
    font-size: 14px;
    color: #000000;
    padding: 8px 20px 8px 42px;
    position: absolute;
    top: 75px;
    right: 10px;
    z-index: 110;
    @mixin io icon/bell, svg;
    width: auto;
    height: auto;
    background-position: 12px 50%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    &:before {
        position: absolute;
        top: 100%;
        right: 10px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 16px 9px 0;
        border-color: transparent #fff transparent transparent;
    }
}