<!-- ########### -->
<!-- CONTENT END -->
<!-- ########### -->

<footer class="footer">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__text">Copyright © 2017</div>
            <div class="footer__text">Oriflame Cosmetics Global SA.</div>
            <div class="footer__text">Все права защищены.</div>
        </div>
        <div class="footer__row">
            <div class="footer__link-group">
                <div class="footer__link">
                    <a href="#">Условия пользования сайтом</a>
                </div>
                <div class="footer__link">
                    <a href="#">Политика защиты персональных данных</a>
                </div>
            </div>
        </div>
        <div class="footer__row">
            <div class="footer__cell">
                <div class="footer__text">ОБРАТНАЯ СВЯЗЬ</div>
                <div class="footer__link">
                    <a href="#">info@yourstart.ru</a>
                </div>
            </div>
            <div class="footer__cell">
                <div class="footer__social">
                    <ul>
                        <li><a class="tg" href="#"></a></li>
                        <li><a class="in" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

@@include('blocks/modal/index.html')

<script async src="/ckeditor/ckeditor.js"></script>
<script src="/bundles/webpack/vendor.bundle.js"></script>
<script src="/bundles/webpack/desktop.bundle.js"></script>
</body>
</html>