@@include('templates/mobile/include/header.html')

<section class="landing-section landing-section_business landing-section_business_page">
    <div class="landing-section__inner">
        <div class="landing-section__continer kit-container">
            <div class="landing-section__body">
                <div class="main-business">
                    <div class="kit-title main-business__title">
                        <a href="/html/mobile/index.html" class="button-back button-back_white">Назад</a>
                        <h1>Бизнес материалы</h1>
                    </div>
                    <div class="main-business__button-group">
                        <a href="/html/mobile/business_materials.html" class="button main-business__button active"><span>СТАТЬИ</span></a><a href="/html/mobile/business_materials_video.html" class="button main-business__button"><span>ВИДЕО</span></a>
                    </div>
                    <div class="main-business__list main-business__list_page">
                        <a href="/html/mobile/article.html" class="main-business-article main-business-article_page">
                            <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/7.jpg);"></span>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">ГОТОВЫ К ПЕРЕМЕНАМ?</span>
                                <span class="main-business-article__desc">Бизнес-партнеры компании Орифлэйм делятся секретами успеха – проверь свою готовность к изменениям в своей жизни!</span>
                            </span>
                        </a>
                        <a href="/html/mobile/article.html" class="main-business-article main-business-article_page">
                            <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/8.jpg);"></span>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">СОБСТВЕННЫЙ БИЗНЕС БЕЗ ВЛОЖЕНИЙ</span>
                                <span class="main-business-article__desc">Мы разберем по порядку, как открыть свое дело с минимальными вложениями.</span>
                            </span>
                        </a>
                        <a href="/html/mobile/article.html" class="main-business-article main-business-article_page">
                            <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/9.jpg);"></span>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">ТАНЯ РЫБАКОВА: «ДЕЛАЮ ЛЮДЕЙ КРАСИВЫМИ» </span>
                                <span class="main-business-article__desc">Мы поговорили с Таней о гармонии, о том, и почему не нужно гнаться за «идеальным» весом.</span>
                            </span>
                        </a>
                        <a href="/html/mobile/article.html" class="main-business-article main-business-article_page">
                            <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/7.jpg);"></span>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">ГОТОВЫ К ПЕРЕМЕНАМ?</span>
                                <span class="main-business-article__desc">Бизнес-партнеры компании Орифлэйм делятся секретами успеха – проверь свою готовность к изменениям в своей жизни!</span>
                            </span>
                        </a>
                        <a href="/html/mobile/article.html" class="main-business-article main-business-article_page">
                            <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/8.jpg);"></span>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">СОБСТВЕННЫЙ БИЗНЕС БЕЗ ВЛОЖЕНИЙ</span>
                                <span class="main-business-article__desc">Мы разберем по порядку, как открыть свое дело с минимальными вложениями.</span>
                            </span>
                        </a>
                        <a href="/html/mobile/article.html" class="main-business-article main-business-article_page">
                            <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/9.jpg);"></span>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">ТАНЯ РЫБАКОВА: «ДЕЛАЮ ЛЮДЕЙ КРАСИВЫМИ» </span>
                                <span class="main-business-article__desc">Мы поговорили с Таней о гармонии, о том, и почему не нужно гнаться за «идеальным» весом.</span>
                            </span>
                        </a>
                        <a href="/html/mobile/article.html" class="main-business-article main-business-article_page">
                            <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/7.jpg);"></span>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">ГОТОВЫ К ПЕРЕМЕНАМ?</span>
                                <span class="main-business-article__desc">Бизнес-партнеры компании Орифлэйм делятся секретами успеха – проверь свою готовность к изменениям в своей жизни!</span>
                            </span>
                        </a>
                        <a href="/html/mobile/article.html" class="main-business-article main-business-article_page">
                            <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/8.jpg);"></span>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">СОБСТВЕННЫЙ БИЗНЕС БЕЗ ВЛОЖЕНИЙ</span>
                                <span class="main-business-article__desc">Мы разберем по порядку, как открыть свое дело с минимальными вложениями.</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('templates/mobile/include/footer.html')
