@@include('templates/mobile/include/header.html')

<section class="landing-section landing-section_business landing-section_business_page">
    <div class="landing-section__inner">
        <div class="landing-section__continer kit-container">
            <div class="landing-section__body">
                <div class="main-business">
                    <div class="kit-title main-business__title">
                        <a href="/html/mobile/index.html" class="button-back button-back_white">Назад</a>
                        <h1>Бизнес материалы</h1>
                    </div>
                    <div class="main-business__button-group">
                        <a href="/html/mobile/business_materials.html" class="button main-business__button"><span>СТАТЬИ</span></a><a href="/html/mobile/business_materials_video.html" class="button main-business__button active"><span>ВИДЕО</span></a>
                    </div>
                    <div class="main-business__list main-business__list_page">
                        <div class="main-business-article main-business-article_page">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/9.jpg);"></a>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">Присоединяйся и начинай зарабатывать</span>
                                <span class="main-business-article__desc"> Презентация проекта от лидера команды TRgroup Сергея Гаглоева</span>
                            </span>
                        </div>
                        <div class="main-business-article main-business-article_page">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/9.jpg);"></a>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">Присоединяйся и начинай зарабатывать</span>
                                <span class="main-business-article__desc"> Презентация проекта от лидера команды TRgroup Сергея Гаглоева</span>
                            </span>
                        </div>
                        <div class="main-business-article main-business-article_page">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/9.jpg);"></a>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">Присоединяйся и начинай зарабатывать</span>
                                <span class="main-business-article__desc"> Презентация проекта от лидера команды TRgroup Сергея Гаглоева</span>
                            </span>
                        </div>
                        <div class="main-business-article main-business-article_page">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/9.jpg);"></a>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">Присоединяйся и начинай зарабатывать</span>
                                <span class="main-business-article__desc"> Презентация проекта от лидера команды TRgroup Сергея Гаглоева</span>
                            </span>
                        </div>
                        <div class="main-business-article main-business-article_page">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/9.jpg);"></a>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">Присоединяйся и начинай зарабатывать</span>
                                <span class="main-business-article__desc"> Презентация проекта от лидера команды TRgroup Сергея Гаглоева</span>
                            </span>
                        </div>
                        <div class="main-business-article main-business-article_page">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/9.jpg);"></a>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">Присоединяйся и начинай зарабатывать</span>
                                <span class="main-business-article__desc"> Презентация проекта от лидера команды TRgroup Сергея Гаглоева</span>
                            </span>
                        </div>
                        <div class="main-business-article main-business-article_page">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/9.jpg);"></a>
                            <span class="main-business-article__body">
                                <span class="main-business-article__title">Присоединяйся и начинай зарабатывать</span>
                                <span class="main-business-article__desc"> Презентация проекта от лидера команды TRgroup Сергея Гаглоева</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('templates/mobile/include/footer.html')
