@@include('templates/mobile/include/header.html')

<a href="#" target="_blank" class="pin-subscribe">
    <span class="pin-subscribe__icon"></span>
</a>

<section data-page="landing" class="landing">
    <section class="landing-section landing-section_fullpage landing-section_promo">
        <div class="main-promo__media">
            <div class="main-promo__pic">
                <img src="/images/mobile/bg/11@2x.jpg" alt="">
            </div>
        </div>
        <div class="landing-section__inner">
            <div class="landing-section__continer kit-container">
                <div class="kit-title kit-title_big">ТВОЙ СТАРТ</div>
                <div class="kit-desc">
                    <ul>
                        <li>Бизнес-сообщество молодых предпринимателей</li>
                        <li>Понятная система без рисков и финансовых вложений</li>
                        <li>Возможности для профессионального и личностного роста</li>
                    </ul>
                </div>
                <div class="kit-button">
                    <a href="#" class="button"><span>Начни свою карьеру</span><i></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="section_future" class="landing-section landing-section_fullpage landing-section_future">
        <div class="landing-section__inner">
            <div class="landing-section__continer kit-container">
                <div class="landing-section__head">
                    <div class="kit-title">тебя ждет</div>
                </div>
                <div class="landing-section__body">
                    <div class="main-future">
                        <div class="main-future__video">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/1.jpg');"></a>
                        </div>
                        <div class="main-future__content">
                            <ul>
                                <li>
                                    <h3>Собственный бизнес</h3>
                                    <p>Рост доходов каждый месяц и финансовая независимость</p>
                                </li>
                                <li>
                                    <h3>Постоянная поддержка</h3>
                                    <p>Наставник на связи 24/7</p>
                                </li>
                                <li>
                                    <h3>Путешествия по всему миру</h3>
                                    <p>Новые страны и континенты</p>
                                </li>
                                <li>
                                    <h3>Награждения предпринимателей</h3>
                                    <p>Премии и авто за лучшие результаты</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="landing-section__foot">
                    <div class="kit-button center">
                        <a href="#" class="button button-primary"><span>Открой мир успеха</span><i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-section landing-section_stats">
        <div class="landing-section__inner">
            <div class="landing-section__continer kit-container">
                <div class="main-stats">
                    <div class="main-stats__head">
                        <div class="main-stats__title">в 2017</div>
                    </div>
                    <div class="main-stats__body">
                        <div class="main-stats__item">
                            <div class="main-stats__desc">Посетили</div>
                            <div class="main-stats__value">5</div>
                            <div class="main-stats__desc">cтран</div>
                        </div>
                        <div class="main-stats__item">
                            <div class="main-stats__desc">Получили</div>
                            <div class="main-stats__value">&gt; 100</div>
                            <div class="main-stats__desc">премиальных<br>автомобилей</div>
                        </div>
                        <div class="main-stats__item">
                            <div class="main-stats__desc">Выплачено</div>
                            <div class="main-stats__value">$1 392 000</div>
                            <div class="main-stats__desc">премий</div>
                        </div>
                        <div class="main-stats__item">
                            <div class="main-stats__desc">Заработали</div>
                            <div class="main-stats__value">$20 000 000</div>
                            <div class="main-stats__desc">участники</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section_connect" class="landing-section landing-section_connect">
        <div class="landing-section__inner">
            <div class="landing-section__continer kit-container">
                <div class="main-connect">
                    <div class="main-connect__head">
                        <div class="kit-title">МЫ ЗАНИМАЕМСЯ</div>
                    </div>
                    <div class="main-connect__body">
                        <div class="main-connect__content">
                            <div class="kit-desc">
                                <strong>КРАСОТОЙ, ЗДОРОВЬЕМ И РАЗВИТИЕМ</strong>
                                <p>Шведского бьюти и вэлнэс-брэнда, который производит продукты для красоты и здоровья используя передовые научные технологии.</p>
                            </div>
                        </div>
                        <div class="main-connect__list">
                            <div class="main-connect__item">
                                <div class="main-connect__value">50</div>
                                <div class="main-connect__desc">лет на рынке</div>
                            </div>
                            <div class="main-connect__item">
                                <div class="main-connect__value">60</div>
                                <div class="main-connect__desc">стран</div>
                            </div>
                            <div class="main-connect__item">
                                <div class="main-connect__value">10 000 000</div>
                                <div class="main-connect__desc">продаж в год</div>
                            </div>
                        </div>
                        <div class="kit-button main-connect__button">
                            <a href="#" class="button button-primary"><span>Присоединяйся к команде</span><i></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section_events" class="landing-section landing-section_events">
        <div class="landing-section__inner">
            <div class="landing-section__continer kit-container">
                <div class="landing-section__head">
                    <div class="kit-title center">Открывай мир вместе с нами</div>
                </div>
                <div class="landing-section__body">
                    <div class="main-events">
                        <div class="main-events__item">
                            <div class="main-events__video">
                                <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/1.jpg');">
                                    <span class="video-link__caption">Как это было в круизе на море </span>
                                </a>
                            </div>
                        </div>
                        <div class="main-events__item">
                            <div class="main-events__content">
                                <div class="main-events-counter">
                                    <div class="main-events-counter__inner">
                                        <div class="main-events-counter__body">
                                            <div class="main-events-counter__item">
                                                <div class="main-events-counter__text">До поездки в Токио осталось:</div>
                                            </div>
                                            <div class="main-events-counter__item">
                                                <div class="main-events-counter__days">
                                                    <div class="main-events-counter__day"><span>1</span></div><div class="main-events-counter__day"><span>3</span></div><div class="main-events-counter__day"><span>7</span></div>
                                                </div>
                                            </div>
                                            <div class="main-events-counter__item">
                                                <div class="main-events-counter__text main-events-counter__text_small">дн.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-events__desc">Мероприятия и вечеринки по всему миру от Майами до Токио</div>
                                <div class="main-events__button">
                                    <a href="#" class="button">Запланируй путешествие</a>
                                    <a href="/html/mobile/map.html" class="button button-primary"><span>Присоединяйся</span><i></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section_videos" class="landing-section landing-section_videos">
        <div class="landing-section__inner">
            <div class="landing-section__continer kit-container">
                <div class="landing-section__head">
                    <div class="kit-title center">Узнавай новое</div>
                    <div class="kit-desc center">Следи за обновлениями</div>
                </div>
                <div class="landing-section__body">
                    <div class="main-videos">
                        <div class="main-videos__slider jsSliderLandingNews">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="main-videos__item" style="background-image: url('/images/desktop/demo/2.jpg');">
                                            <div class="main-videos__date">14 Окт. 2017</div>
                                            <a target="_blank" href="#" class="main-videos__link">
                                                <span>Твой первый миллион уже здесь, а ты?</span>
                                                <i></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="main-videos__item" style="background-image: url('/images/desktop/demo/3.jpg');">
                                            <div class="main-videos__date">14 Авг. 2017</div>
                                            <a target="_blank" href="#" class="main-videos__link">
                                                <span>Хюгге с Марго и Ольгой</span>
                                                <i></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="main-videos__item" style="background-image: url('/images/desktop/demo/3.jpg');">
                                            <div class="main-videos__date">14 Авг. 2017</div>
                                            <a target="_blank" href="#" class="main-videos__link">
                                                <span>Хюгге с Марго и Ольгой</span>
                                                <i></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-foot">
                                <button class="swiper-prev-default"></button>
                                <div class="swiper-pagination"></div>
                                <button class="swiper-next-default"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section_history" class="landing-section landing-section_history">
        <div class="landing-section__inner">
            <div class="landing-section__continer kit-container">
                <div class="landing-section__head">
                    <div class="kit-title center">Бери пример с лучших</div>
                    <div class="kit-desc center">Познакомься с реальными историями людей, которые зарабатывают с нами!</div>
                </div>
                <div class="landing-section__body">
                    <div class="main-history">
                        <div class="main-history__slider jsSliderLandingHistory">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="/html/mobile/personal_story.html" class="main-history__item">
                                            <span class="main-history__pic" style="background-image: url('/images/desktop/demo/4.jpg');"></span>
                                            <span class="main-history__name">Юлия Бондырева</span>
                                            <span class="main-history__city">г. Владимир</span>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/html/mobile/personal_story.html" class="main-history__item">
                                            <span class="main-history__pic" style="background-image: url('/images/desktop/demo/5.jpg');"></span>
                                            <span class="main-history__name">Екатерина Тимоховец</span>
                                            <span class="main-history__city">г. Минск</span>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/html/mobile/personal_story.html" class="main-history__item">
                                            <span class="main-history__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                                            <span class="main-history__name">Дарья и Сергей Алякмины</span>
                                            <span class="main-history__city">г. Чебоксары</span>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/html/mobile/personal_story.html" class="main-history__item">
                                            <span class="main-history__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                                            <span class="main-history__name">Дарья и Сергей Алякмины</span>
                                            <span class="main-history__city">г. Чебоксары</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <button class="swiper-prev-default"></button>
                            <button class="swiper-next-default"></button>
                        </div>
                    </div>
                </div>
                <div class="landing-section__foot center">
                    <div class="landing-section__button-group">
                        <a href="/html/mobile/all_stories.html" class="button button-light"><span>Еще больше историй</span></a>
                        <a data-toggle="modal" data-target=".jsModalInstruction" href="#" class="button"><span>Поделись своей историей успеха</span><i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section_olapic" class="landing-section landing-section_olapic">
        <div class="landing-section__inner">
            <div class="landing-section__head">
                <div class="kit-title center">ЖИВИ В СТИЛЕ <span>#ТВОЙСТАРТ</span></div>
            </div>
            <div class="landing-section__body">
                <div class="main-olapic">
                    <div class="main-olapic__body">
                        <section class="olapic-slider">
                            <div id="olapic_specific_widget"></div><script type="text/javascript" data-lang="ru_RU" src="https://photorankstatics-a.akamaihd.net/81b03e40475846d5883661ff57b34ece/static/frontend/latest/build.min.js"  data-olapic="olapic_specific_widget" data-instance="7ed3ac74870d496700cd45218b0ba8ac" data-apikey="f50e8cc3705faf6218c2fa1da6b10ec6d9c1df4505bba42bfb3dd9edb72f01cc" async="async"></script>
                            <div class="olapic-slider__loader"></div>
                        </section>
                    </div>
                    <div class="main-olapic__foot">
                        <a data-modal-olapic data-modal-class=".jsModalGallery" href="#" class="button"><span>СМОТРИ БОЛЬШЕ</span><i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section_social" class="landing-section landing-section_social">
        <div class="landing-section__inner">
            <div class="landing-section__head">
                <div class="kit-container">
                    <div class="main-social__title">СТАНЬ ЧАСТЬЮ НАШЕЙ КОМАНДЫ</div>
                </div>
            </div>
            <div class="landing-section__continer kit-container">
                <div class="landing-section__body">
                    <div class="main-social">
                        <div class="main-social__inner">
                            <div class="main-social__list">
                                <ul>
                                    <li><a class="tg" href="#"><i></i><span><strong>ПОДПИСЫВАЙСЯ НА КАНАЛ В TELEGRAM</strong> УЖЕ 13K УЧАСТНИКОВ</span></a></li>
                                    <li><a class="in" href="#"><i></i><span><strong>ПОДПИСЫВАЙСЯ НА НАШ INSTAGRAM</strong> 5,5K ПОДПИСЧИКОВ</span></a></li>
                                </ul>
                            </div>
                            <div class="main-social__button">
                                <a href="#" class="button"><span>Начни свою карьеру</span><i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section_business" class="landing-section landing-section_business">
        <div class="landing-section__inner">
            <div class="landing-section__continer kit-container">
                <div class="landing-section__body">
                    <div class="main-business">
                        <div class="kit-title main-business__title">Бизнес материалы</div>
                        <div class="main-business__button-group">
                            <button class="button main-business__button active jsLandingBusinessToggle"><span>СТАТЬИ</span></button><button class="button main-business__button jsLandingBusinessToggle"><span>ВИДЕО</span></button>
                        </div>
                        <div class="main-business__list">
                            <div class="main-business__item active jsLandingBusinessItem">
                                <div class="main-business__slider jsSliderLandingArticle">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="/html/mobile/article.html" class="main-business-article">
                                                    <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/7.jpg);"></span>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title">ГОТОВЫ К ПЕРЕМЕНАМ?</span>
                                                        <span class="main-business-article__desc">Бизнес-партнеры компании Орифлэйм делятся секретами успеха – проверь свою готовность к изменениям в своей жизни!</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="/html/mobile/article.html" class="main-business-article">
                                                    <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/8.jpg);"></span>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title">СОБСТВЕННЫЙ БИЗНЕС БЕЗ ВЛОЖЕНИЙ</span>
                                                        <span class="main-business-article__desc">Мы разберем по порядку, как открыть свое дело с минимальными вложениями.</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="/html/mobile/article.html" class="main-business-article">
                                                    <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/9.jpg);"></span>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title">ТАНЯ РЫБАКОВА: «ДЕЛАЮ ЛЮДЕЙ КРАСИВЫМИ» </span>
                                                        <span class="main-business-article__desc">Мы поговорили с Таней о гармонии, о том, и почему не нужно гнаться за «идеальным» весом.</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="/html/mobile/article.html" class="main-business-article">
                                                    <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/7.jpg);"></span>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title">ГОТОВЫ К ПЕРЕМЕНАМ?</span>
                                                        <span class="main-business-article__desc">Бизнес-партнеры компании Орифлэйм делятся секретами успеха – проверь свою готовность к изменениям в своей жизни!</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-foot">
                                        <button class="swiper-prev-default swiper-prev-default_white"></button>
                                        <div class="swiper-pagination swiper-pagination_white"></div>
                                        <button class="swiper-next-default swiper-next-default_white"></button>
                                    </div>
                                </div>
                                <div class="main-business__more">
                                    <a href="/html/mobile/business_materials.html" class="button"><span>ЧИТАТЬ БОЛЬШЕ</span><i></i></a>
                                </div>
                            </div>
                            <div class="main-business__item jsLandingBusinessItem">
                                <div class="main-business__slider jsSliderLandingVideos">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="main-business-article">
                                                    <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/9.jpg);"></a>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title">Присоединяйся и начинай зарабатывать</span>
                                                        <span class="main-business-article__desc"> Презентация проекта от лидера команды TRgroup Сергея Гаглоева</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="main-business-article">
                                                    <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/8.jpg);"></a>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title"> Устанавливай контакт</span>
                                                        <span class="main-business-article__desc"> Как вести переписку в социальных сетях</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="main-business-article">
                                                    <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/7.jpg);"></a>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title"> Ставь цели и у тебя все получится</span>
                                                        <span class="main-business-article__desc"> Как добиться успеха</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="main-business-article">
                                                    <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="main-business-article__video" style="background-image: url(/images/desktop/demo/9.jpg);"></a>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title"> Ставь цели и у тебя все получится</span>
                                                        <span class="main-business-article__desc"> Как добиться успеха</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-foot">
                                        <button class="swiper-prev-default swiper-prev-default_white"></button>
                                        <div class="swiper-pagination swiper-pagination_white"></div>
                                        <button class="swiper-next-default swiper-next-default_white"></button>
                                    </div>
                                </div>
                                <div class="main-business__more">
                                    <a href="/html/mobile/business_materials_video.html" class="button"><span>ЧИТАТЬ БОЛЬШЕ</span><i></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

@@include('templates/mobile/include/footer.html')
