@@include('templates/mobile/include/header.html')

<section class="personal-story personal-story__head">
    <!--<div class="personal-story__circle personal-story__circle_1">
        <div class="personal-story__city">
            <span>Чебоксары</span>
        </div>
    </div>
    <div class="personal-story__circle personal-story__circle_2"></div> -->
    <div class="kit-container">
        <a href="/html/mobile/all_stories.html" class="button-back two-lines">Все истории<br>успеха</a>
        <div class="personal-story__title kit-title">ДАРЬЯ И СЕРГЕЙ АЛЯМКИНЫ</div>
        <div class="personal-story__city">
            <span>Чебоксары</span>
        </div>
        <div class="personal-story__info">
            <div class="personal-story__data">
                <div class="personal-story__pic" style="background-image: url('/images/desktop/demo/11.jpg');"></div>
                <div class="personal-story__social-desc">Свяжись со мной:</div>
                <div class="personal-story__social-block">
                    <div class="personal-story__social">
                        <span>Дарья</span>
                        <ul>
                            <li><a class="vk" href="#"></a></li>
                            <li><a class="ok" href="#"></a></li>
                            <li><a class="fb" href="#"></a></li>
                            <li><a class="yt" href="https://www.youtube.com/channel/UC0X76d0AKkfjzOfLG4BMLgA" target="_blank"></a></li>
                            <li><a class="in" href="https://www.instagram.com/evrubleva/" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="personal-story__social-block">
                    <div class="personal-story__social">
                        <span>Сергей</span>
                        <ul>
                            <li><a class="vk" href="#"></a></li>
                            <li><a class="fb" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="personal-story__video">
                <a data-modal-video="" data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/12.jpg');"></a>
            </div>
        </div>
    </div>
</section>

<section class="personal-story personal-story__body">
    <div class="kit-container">
        <!-- <div class="personal-story__circle personal-story__circle_3"></div> -->
        <h3>Нас зовут Дарья и Михаил Алямкины, нам по 26 лет. Мы всегда хотели быть свободными, счастливыми, обеспеченными и получать за упорный труд максимальную отдачу – а кто этого не хочет?</h3>
        <div class="personal-story__content">
            <div class="transpar"></div>
            <p>Мы были упорны в поисках работы мечты. Но открытие своего дела требовало больших вложений, а серая жизнь с нелюбимой работой по найму, где платят мало, а относятся как к малозначимому винтику, была далека от мечты. Но нам повезло разглядеть огромный потенциал в компании, где можно строить бизнес с использованием интернета. И все изменилось.</p>
            <p>Представьте, что вы просыпаетесь утром, и вам вовсе не хочется поваляться еще 5 минут или придумать внезапно приехавшую тетю Луизу из Нальчика, чтобы не пойти на ненавистную работу. Каждое утро для вас − как утро Рождества, когда не хочется терять ни секунды из того, что предлагает вам новая жизнь. Потому что впереди много важных занятий и общение с командой умных, драйвовых людей.</p>
            <p>С желанием работать и зарабатывать, с верой, что у нас все получится, мы за 3 месяца открыли квалификацию директора и за 3 года достигли топового звания.</p>
            <span>Работа позволила нам:</span>
            <ul>
                <li>стать ТОП-лидерами международной компании с огромным доходом;</li>
                <li>купить коттедж;</li>
                <li>получить в подарок автомобиль Volvo;</li>
                <li>не отказывать себе в дорогих покупках;</li>
                <li>2 раза в год отдыхать  за счет компании – мы уже побывали в 7 странах мира. Вот сейчас мы вернулись из Майами и уже знаем, что скоро нам предстоит круиз по Европе на элитном лайнере и отдых в Японии.</li>
            </ul>
            <p>У нас огромная директорская команда по всей России. Наша система работы в интернете за эти годы четко отлажена, и сейчас достичь больших результатов с ее помощью можно гораздо быстрее и эффективнее. Если вы активны, если вы хотите от жизни большего, то наша команда – для вас. Проснитесь завтра в новой жизни!</p>
        </div>
        <div class="personal-story__arrow-more">Читать дальше</div>
        <div class="personal-story__share-block">
            <div class="personal-story__share">
                <span>Понравилась история?<br>Поделись с друзьями</span>
                <ul>
                    <li><a class="vk" href="#"></a></li>
                    <li><a class="ok" href="#"></a></li>
                    <li><a class="fb" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="personal-story personal-story__slider">
    <!-- <div class="personal-story__circle personal-story__circle_4"></div> -->
    <div class="slider__inner">
        <div class="slider__continer kit-container">
            <div class="slider__head">
                <div class="kit-title center">ЕЩЕ БОЛЬШЕ ИСТОРИЙ УСПЕХА</div>
            </div>
            <div class="slider__body">
                <div class="main-history">
                    <div class="main-history__slider jsSliderLandingHistory">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="main-history__item">
                                        <span class="main-history__pic" style="background-image: url('/images/desktop/demo/4.jpg');"></span>
                                        <span class="main-history__name">Юлия Бондырева</span>
                                        <span class="main-history__city">г. Владимир</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="main-history__item">
                                        <span class="main-history__pic" style="background-image: url('/images/desktop/demo/5.jpg');"></span>
                                        <span class="main-history__name">Екатерина Тимоховец</span>
                                        <span class="main-history__city">г. Минск</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="main-history__item">
                                        <span class="main-history__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                                        <span class="main-history__name">Дарья и Сергей Алякмины</span>
                                        <span class="main-history__city">г. Чебоксары</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="main-history__item">
                                        <span class="main-history__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                                        <span class="main-history__name">Дарья и Сергей Алякмины</span>
                                        <span class="main-history__city">г. Чебоксары</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="swiper-prev-default"></button>
                        <button class="swiper-next-default"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('templates/mobile/include/footer.html')