@@include('templates/mobile/include/header.html')

<!-- <section class="mob-search">
    <div class="mob-search__inner">
        <div class="mob-search__icon">
        </div>
        <div class="mob-search__input">
            <span>ОТКРЫТЬ СОБЫТИЯ</span>
        </div>
        <div class="mob-search__button">
        </div>
    </div>
</section> -->

<section data-page="landing" class="landing">
    <section class="landing-section landing-section_fullpage landing-section_auth">

        <div class="landing-section__inner start__inner">
            <div class="landing-section__continer start-container">
                <div class="kit-title kit-title_big start-title_big">ТВОЙ СТАРТ</div>
                <div class="kit-desc start-desc">
                    3 обучающих видео о проекте
                </div>

                <div class="landing-section__body">
                    <div class="main-start">
                        <div class="main-start__video">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/1.jpg');"></a>
                            <div class="start-desc">
                                Как пользоваться сайтом
                            </div>
                        </div>
                        <div class="main-start__video">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/1.jpg');"></a>
                            <div class="start-desc">
                                Как создать реферальную ссылку для рекрутинга
                            </div>
                        </div>
                        <div class="main-start__video">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/1.jpg');"></a>
                            <div class="start-desc">
                                Как добавить свою историю успеха на сайт
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kit-button mob-align-center">
                    <a href="#" class="button"><span>Начни свою карьеру</span></a>
                </div>
            </div>
        </div>
        <a href="#" target="_blank" class="pin-subscribe">
            <span class="pin-subscribe__icon"></span>
        </a>
        <!--<a href="#section_future" class="button-scroll-down jsScrollTo">
            <span>Листай вниз</span>
            <i></i>
        </a>-->
    </section>
</section>

@@include('templates/mobile/include/footer.html')
