@@include('templates/desktop/include/header.html')

<section class="stories">
    <div class="stories__circle stories__circle_1"></div>
    <div class="stories__circle stories__circle_2"></div>
    <div class="kit-container">
        <div class="stories__head">
            <a href="/html/desktop/index.html" class="button-back">Назад</a>
            <div class="stories__title kit-title center">ВДОХНОВЛЯЙСЯ<br>И ВДОХНОВЛЯЙ ДРУГИХ</div>
            <div class="kit-button center">
                <a data-toggle="modal" data-target=".jsModalInstruction" href="#" class="button button-primary"><span>Поделись своей историей успеха</span><i></i></a>
            </div>
        </div>
        <div class="stories__body">
            <div class="stories__circle stories__circle_3"></div>
            <div class="stories__circle stories__circle_4"></div>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/4.jpg');"></span>
                <span class="stories__name">Юлия Бондырева</span>
                <span class="stories__city">г. Владимир</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/11.jpg');"></span>
                <span class="stories__name">Екатерина Тимоховец</span>
                <span class="stories__city">г. Минск</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                <span class="stories__name">Дарья и Сергей Алякмины</span>
                <span class="stories__city">г. Чебоксары</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                <span class="stories__name">Дарья и Сергей Алякмины</span>
                <span class="stories__city">г. Чебоксары</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/4.jpg');"></span>
                <span class="stories__name">Юлия Бондырева</span>
                <span class="stories__city">г. Владимир</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/11.jpg');"></span>
                <span class="stories__name">Екатерина Тимоховец</span>
                <span class="stories__city">г. Минск</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                <span class="stories__name">Дарья и Сергей Алякмины</span>
                <span class="stories__city">г. Чебоксары</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                <span class="stories__name">Дарья и Сергей Алякмины</span>
                <span class="stories__city">г. Чебоксары</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/4.jpg');"></span>
                <span class="stories__name">Юлия Бондырева</span>
                <span class="stories__city">г. Владимир</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/11.jpg');"></span>
                <span class="stories__name">Екатерина Тимоховец</span>
                <span class="stories__city">г. Минск</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                <span class="stories__name">Дарья и Сергей Алякмины</span>
                <span class="stories__city">г. Чебоксары</span>
            </a>
            <a href="/html/desktop/personal_story.html" class="stories__item">
                <span class="stories__pic" style="background-image: url('/images/desktop/demo/6.jpg');"></span>
                <span class="stories__name">Дарья и Сергей Алякмины</span>
                <span class="stories__city">г. Чебоксары</span>
            </a>
        </div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')