@@include('templates/desktop/include/header.html')

<section class="article">
    <section class="article__head">
        <span class="article__background" style="background-image: url('/images/desktop/demo/17.jpg');"></span>
        <div class="article__layout">
            <div class="kit-container">
                <div class="article__title">
                    <a href="/html/desktop/business_materials.html" class="button-back two-lines button-back_white">Бизнес<br>материалы</a>
                    <div class="kit-title white">ТАНЯ РЫБАКОВА:<br>«ДЕЛАЮ ЛЮДЕЙ КРАСИВЫМИ»</div>
                </div>
            </div>
        </div>
    </section>
    <section class="article__body">
        <div class="article__circle article__circle_1"></div>
        <div class="kit-container">
            <div class="article__content-head">
                <div class="article__circle article__circle_2"></div>
                <div class="article__pic">
                    <img src="/images/desktop/demo/17.jpg" alt="">
                </div>
                <div class="article__info">
                    <span class="article__date">АПРЕЛЬ 2017</span>
                    <span class="article__autor">ТЕКСТ: КАТЯ ВЕТРОВА</span>
                    <span class="article__photographer">ФОТО: ORIFLAME</span>
                </div>
            </div>
            <div class="article__content-body">
                <div class="article__circle article__circle_3"></div>
                <h1>Топ-блогер Таня Рыбакова приняла участие в съемках нового рекламного ролика Орифлэйм «Красота как образ жизни». Мы поговорили с Таней о гармонии, о том, как стать блогером, и почему не нужно гнаться за «идеальным» весом.</h1>
                <p><strong>Вы недавно снялись в нашем рекламном ролике «Красота как образ жизни», и я хочу задать вам вопрос, который задает в начале ролика актриса Екатерина Гусева. Что такое красота для вас?</strong><br>
                    Для меня красота — это баланс внутреннего и внешнего. Красивая девушка – это та, которая уверена не только в своей внешности, но также и в своем внутреннем состоянии.
                </p>
                <p><strong>Вы сумели кардинально изменить свою жизнь и свою внешность. Как это произошло, что стало для вас побудительным мотивом?</strong><br>
                    Я была полнее других с самого детства, и, в принципе, когда я была ребенком, то была вполне довольна собой. Но со временем общество начало навешивать на меня различные ярлыки, и еда стала для меня способом спасения. Когда мой вес добрался до критической отметки – я весила больше ста килограммов – мне стало сложно не только морально, но и физически. Сложно подобрать одежду, сложно чувствовать себя комфортно, я стала не очень улыбчивой. То есть дело было не только во внешности, дело было в том, что я стала не очень интересным, дружелюбным и позитивным человеком. Я похудела, не считая это каким-то подвигом – я и сейчас так не считаю. Я сделала это в первую очередь для себя, чтобы снова жить в балансе между внутренним и внешним. Потому что если ты не доволен своей внешностью, то очень сложно быть в гармонии с собой.
                </p>
                <img src="/images/desktop/demo/17.jpg" alt="">
                <p><strong>Что произошло потом? Когда вы поняли, что можете помогать другим людям?</strong><br>
                    Потом я выложила свою историю в один из женских блогов, где она приобрела большую популярность. Мне начали задавать вопросы, искать общения, и тогда я поняла, что могу быть полезной. Я стала отвечать на вопросы, потом узнала, как работает Ютьюб, потом появился Инстаграм – я делилась своей историей и советами, это приобрело популярность, вплоть до того, что меня пригласили сниматься в рекламе.
                </p>
                <p><strong>Если в двух словах, как вы сформулируете вашу миссию?</strong><br>
                    Я делаю людей красивыми. Это моя работа: все, что я делаю – мои проекты в интернете, видео, личное общение – связано с тем, что я помогаю людям более комфортно чувствовать себя в своем теле и быть довольными своей фигурой.
                </p>
            </div>
            <div class="article__share-block">
                <div class="article__share">
                    <span>Понравилась история? Поделись с друзьями</span>
                    <ul>
                        <li><a class="vk" href="#"></a></li>
                        <li><a class="ok" href="#"></a></li>
                        <li><a class="fb" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="article__footer">
        <div class="article__circle article__circle_4"></div>
        <div class="landing-section__inner">
            <div class="landing-section__continer kit-container">
                <div class="landing-section__body">
                    <div class="main-business">
                        <div class="kit-title main-business__title">ПОХОЖИЕ МАТЕРИАЛЫ</div>
                        <div class="main-business__list">
                                <div class="main-business__slider jsSliderLandingArticle">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="main-business-article">
                                                    <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/7.jpg);"></span>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title">ГОТОВЫ К ПЕРЕМЕНАМ?</span>
                                                        <span class="main-business-article__desc">Бизнес-партнеры компании Орифлэйм делятся секретами успеха – проверь свою готовность к изменениям в своей жизни!</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="main-business-article">
                                                    <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/8.jpg);"></span>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title">СОБСТВЕННЫЙ БИЗНЕС БЕЗ ВЛОЖЕНИЙ</span>
                                                        <span class="main-business-article__desc">Мы разберем по порядку, как открыть свое дело с минимальными вложениями.</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="main-business-article">
                                                    <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/9.jpg);"></span>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title">ТАНЯ РЫБАКОВА: «ДЕЛАЮ ЛЮДЕЙ КРАСИВЫМИ» </span>
                                                        <span class="main-business-article__desc">Мы поговорили с Таней о гармонии, о том, и почему не нужно гнаться за «идеальным» весом.</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="main-business-article">
                                                    <span class="main-business-article__pic" style="background-image: url(/images/desktop/demo/7.jpg);"></span>
                                                    <span class="main-business-article__body">
                                                        <span class="main-business-article__title">ГОТОВЫ К ПЕРЕМЕНАМ?</span>
                                                        <span class="main-business-article__desc">Бизнес-партнеры компании Орифлэйм делятся секретами успеха – проверь свою готовность к изменениям в своей жизни!</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="swiper-prev-default swiper-prev-default_white"></button>
                                    <button class="swiper-next-default swiper-next-default_white"></button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

@@include('templates/desktop/include/footer.html')