@@include('templates/desktop/include/header.html')

<a href="#" target="_blank" class="pin-subscribe">
    <span class="pin-subscribe__icon"></span>
    <span class="pin-subscribe__content">
        <span class="pin-subscribe__title">ПОДПИСЫВАЙСЯ<br>НА КАНАЛ В TELEGRAM</span>
        <span class="pin-subscribe__desc">Уже 13K участников</span>
    </span>
</a>

<section data-page="landing" class="landing">
    <section class="landing-section landing-section_fullpage landing-section_auth">
        <div class="main-promo__circle main-promo__circle_1" data-bottom-top="transform: scale(.75);" data-center="transform: scale(1);"></div>
        <div class="main-promo__circle main-promo__circle_2" data-top-bottom="transform: scale(.75);" data-center="transform: scale(1);"></div>
        <div class="main-promo__circle main-promo__circle_3" data-top-bottom="transform: scale(.75);" data-center="transform: scale(1);"></div>

        <div class="landing-section__inner start__inner">
            <div class="landing-section__continer start-container">
                <div class="kit-title kit-title_big">ТВОЙ СТАРТ</div>
                <div class="kit-desc start-desc">
                    3 обучающих видео о проекте
                </div>

                <div class="landing-section__body">
                    <div class="main-start">
                        <div class="main-start__video">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/1.jpg');"></a>
                            <div class="start-desc">
                                Как пользоваться сайтом
                            </div>
                        </div>
                        <div class="main-start__video">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/1.jpg');"></a>
                            <div class="start-desc">
                                Как создать реферальную ссылку для рекрутинга
                            </div>
                        </div>
                        <div class="main-start__video">
                            <a data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/1.jpg');"></a>
                            <div class="start-desc">
                                Как добавить свою историю успеха на сайт
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kit-button">
                    <a href="#" class="button"><span>Начни свою карьеру</span><i></i></a>
                </div>
            </div>
        </div>
        <a href="#section_future" class="button-scroll-down jsScrollTo">
            <span>Листай вниз</span>
            <i></i>
        </a>
    </section>
</section>

@@include('templates/desktop/include/footer.html')
