@@include('templates/desktop/include/header.html')

<section class="travel">
    <div class="kit-container">
        <div class="travel__head">
            <div class="travel__circle travel__circle_1"></div>
            <a href="/html/desktop/map.html" class="button-back two-lines">Все<br>путешествия</a>
            <div class="travel__title kit-title">Международная Бриллиантовая Конференция 2018. Токио и Киото</div>
            <div class="travel__desc">
                <p>Самые передовые современные технологии и богатая история страны восходящего солнца подарят незабываемые впечатления участникам Глобальной Исполнительной Конференции, которая пройдет в 2018 году в двух городах Японии, Токио и Киото</p>
            </div>
            <div class="travel-switcher">
                <a href="#" class="travel-switcher__button jsSliderTravelToggle active"><span>ВИДЕО</span></a>
                <a href="#" class="travel-switcher__button jsSliderTravelToggle"><span>Фотогаллерея</span></a>
            </div>
        </div>
        <div class="travel-gallery">
            <div class="travel-gallery__inner">
                <div class="travel-gallery__item jsSliderTravelItem active">
                    <div class="travel-gallery__slider jsSliderTravelVideo">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a data-modal-video="" data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/16.jpg');"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a data-modal-video="" data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/16.jpg');"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a data-modal-video="" data-src="https://www.youtube.com/embed/P38acjc8DyY" href="#" class="video-link" style="background-image: url('/images/desktop/demo/16.jpg');"></a>
                                </div>
                            </div>
                            <div class="swiper-controls">
                                <div class="swiper-prev-video"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-next-video"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="travel-gallery__item jsSliderTravelItem">
                    <div class="travel-gallery__slider">
                        <div class="travel-gallery__photo">
                            <img class="jsGalleryPhoto" src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg" alt="">
                        </div>
                    </div>
                    <div class="travel-gallery__thumbs">
                        <div data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg" class="travel-gallery__thumb jsGalleryPhotoToggle" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg');"></div>
                        <div data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/event_16_5.jpg" class="travel-gallery__thumb jsGalleryPhotoToggle" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/event_16_5.jpg');"></div>
                        <div data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_62.jpg" class="travel-gallery__thumb jsGalleryPhotoToggle" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_62.jpg');"></div>
                        <div data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_12.jpg" class="travel-gallery__thumb jsGalleryPhotoToggle" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_12.jpg');"></div>
                        <div class="travel-gallery__thumb travel-gallery__thumb_all" data-toggle="modal" data-target=".jsModalGallery">
                            <strong>Смотреть больше</strong>
                            <span style="background-image: url('https://yourstart.ru/resize_image?size=50_50&src=/images/backend/events/event_16_12.jpg');"></span>
                            <span style="background-image: url('https://yourstart.ru/resize_image?size=50_50&src=/images/backend/events/event_16_12.jpg');"></span>
                            <span style="background-image: url('https://yourstart.ru/resize_image?size=50_50&src=/images/backend/events/event_16_12.jpg');"></span>
                            <span style="background-image: url('https://yourstart.ru/resize_image?size=50_50&src=/images/backend/events/event_16_12.jpg');"></span>
                            <span style="background-image: url('https://yourstart.ru/resize_image?size=50_50&src=/images/backend/events/event_16_12.jpg');"></span>
                            <span style="background-image: url('https://yourstart.ru/resize_image?size=50_50&src=/images/backend/events/event_16_12.jpg');"></span>
                            <span style="background-image: url('https://yourstart.ru/resize_image?size=50_50&src=/images/backend/events/event_16_12.jpg');"></span>
                            <span style="background-image: url('https://yourstart.ru/resize_image?size=50_50&src=/images/backend/events/event_16_12.jpg');"></span>
                            <span style="background-image: url('https://yourstart.ru/resize_image?size=50_50&src=/images/backend/events/event_16_12.jpg');"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="travel__content">
            <div class="travel__circle travel__circle_2"></div>
            <p>Одно путешествие – две столицы! Исполнительная Конференция 2018 года пройдет в Японии – Стране восходящего солнца.</p>
            <p>Международная Исполнительная Конференция 2018 года станет по-настоящему особенной, благодаря удивительной и загадочной Японии.</p>
            <p>Современная Япония — одна из самых индустриально развитых стран в мире. Ее уникальная и богатая событиями история насчитывает не одну тысячу лет. Великолепное наследие прошлого переплетается в Японии с современными
                технологиями — в этом ключ к пониманию самобытной японской культуры, которая подарит тебе незабываемые впечатления в этом путешествии.</p>
            <p>Глобальная Исполнительная Конференция — это мероприятие высшего класса для ТОП-Лидеров Oriflame, которые смогут посетить сразу два великолепных города Японии: Токио и Киото.</p>
            <p>Этот невероятный опыт и роскошное путешествие созданы для самых выдающихся партнеров Oriflame, желающих почувствовать пульсирующую энергию Токио в сочетании с древностью и вечной красотой Киото. Погружение в атмосферу сразу двух японских столиц — с яркой поп-культурой и космополитичной ночной жизнью в Токио и дзен-садами и древними храмами Киото — станет самым ярким путешествием в твоей жизни.</p>
            <p>Конференция пройдет в идеальное для посещения Японии время, в апреле, когда цветет потрясающая сакура, и Страна восходящего солнца становится красива как никогда.</p>
            <p>Квалификационный период начинается в каталоге №13 2016 и продлится до конца каталога №12 2017.</p>
            <p>Квалифицируйся уже сейчас! Не упусти возможность присоединиться к нам в этом уникальном путешествии! Воплоти свои мечты и с размахом, отпразднуй свой успех в кругу Лидеров Oriflame и руководства компании.</p>
        </div>
        <div class="travel__share-block">
            <div class="travel__circle travel__circle_3"></div>
            <div class="travel__share">
                <span>Понравилась история? Поделись с друзьями</span>
                <ul>
                    <li><a class="vk" href="#"></a></li>
                    <li><a class="ok" href="#"></a></li>
                    <li><a class="fb" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="travel__events">
    <div class="travel__inner">
        <div class="kit-container">
            <div class="events__head">
                <div class="kit-title center">ДРУГИЕ МЕРОПРИЯТИЯ</div>
            </div>
            <div class="events__body">
                <div class="events__slider jsSliderTravelEvents">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="events__item">
                                    <span class="events__pic" style="background-image: url('/images/desktop/demo/14.jpg');"></span>
                                    <span class="events__name">Международная Бриллиантовая Конференция 2018.</span>
                                    <span class="events__city">Токио и Киото</span>
                                    <span class="events__status">АКТУАЛЬНОЕ</span>
                                    <span class="events__date">До старта: <span>81 день</span></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__item">
                                    <span class="events__pic" style="background-image: url('/images/desktop/demo/15.jpg');"></span>
                                    <span class="events__name">Золотая конференция 2018.</span>
                                    <span class="events__city">Мадрид</span>
                                    <span class="events__status">АКТУАЛЬНОЕ</span>
                                    <span class="events__date">До старта: <span>125 дней</span></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__item">
                                    <span class="events__pic" style="background-image: url('/images/desktop/demo/14.jpg');"></span>
                                    <span class="events__name">Международная Бриллиантовая Конференция 2018.</span>
                                    <span class="events__city">Токио и Киото</span>
                                    <span class="events__status">АКТУАЛЬНОЕ</span>
                                    <span class="events__date">До старта: <span>81 день</span></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__item">
                                    <span class="events__pic" style="background-image: url('/images/desktop/demo/15.jpg');"></span>
                                    <span class="events__name">Золотая конференция 2018.</span>
                                    <span class="events__city">Мадрид</span>
                                    <span class="events__status">АКТУАЛЬНОЕ</span>
                                    <span class="events__date">До старта: <span>125 дней</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="swiper-prev-default swiper-prev-default_white"></button>
                    <button class="swiper-next-default swiper-next-default_white"></button>
                </div>
            </div>
        </div>
    </div>
</section>

<div tabindex="-1" class="modal fade modal-default modal-gallery jsModalGallery">
    <div class="gallery-big__back jsGalleryModalPopupBack jsGalleryModalPhotoClose"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="gallery-big jsGalleryModalPopup">
                <a class="modal-close gallery-big__close jsGalleryModalPhotoClose"></a>
                <div class="gallery-big__photo">
                    <img class="jsGalleryModalPhoto" alt="">
                    <a href="#" class="gallery-big__prev jsGalleryModalPhotoPrev"></a>
                    <a href="#" class="gallery-big__next jsGalleryModalPhotoNext"></a>
                </div>
            </div>
            <div class="gallery">
                <div class="gallery__inner">
                    <div class="gallery__head">
                        <a data-dismiss="modal" class="modal-close"></a>
                        <div class="gallery__title">1000 фотографий</div>
                    </div>
                    <div class="gallery__list">
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/event_16_5.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/event_16_5.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_62.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_62.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_12.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_12.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/event_16_5.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/event_16_5.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_62.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_62.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_12.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_12.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/event_16_5.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/event_16_5.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_62.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_62.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_12.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_12.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/event_16_5.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/event_16_5.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_62.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_62.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_12.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_12.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_62.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_62.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_12.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_12.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/1490651164hQIgr2bhzJdJmIU37NsZEJAYBQlejfIENJujNqMB.jpeg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=1400_1400&src=/images/backend/events/event_16_5.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=1400_100&src=/images/backend/events/event_16_5.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_62.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_62.jpg');"></div>
                        <div class="gallery__item jsGalleryModalPhotoToggle" data-src="https://yourstart.ru/resize_image?size=800_1400&src=/images/backend/events/event_16_12.jpg" style="background-image: url('https://yourstart.ru/resize_image?size=800_100&src=/images/backend/events/event_16_12.jpg');"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('templates/desktop/include/footer.html')